---
import InviteLayout from '../layouts/InviteLayout.astro'

import moj from '../assets/inbjudan/1-1.jpg'
import kyrka from '../assets/inbjudan/M친lsryd1.jpg'
import dannike from '../assets/inbjudan/dannike.png'
import barn1 from '../assets/inbjudan/3-2.jpeg'
import barn2 from '../assets/inbjudan/3-3.jpeg'
import barn3 from '../assets/inbjudan/3-4.jpeg'
import barn4 from '../assets/inbjudan/3-5.jpeg'
import bus from '../assets/inbjudan/5-1.jpeg'
import leaves from '../assets/inbjudan/leaves.png'
---

<InviteLayout title="Vigsel 2 september 2023">
  <header class="py-8 text-center">
    <span class="text-sm font-light tracking-widest">V칛lkommen till</span>
    <h1 class="pt-4 font-display text-4xl font-bold">Vigsel mellan <span class="whitespace-nowrap">&nbsp;Johan & &nbsp;Maggan</span></h1>
  </header>

  <main class="mx-auto w-full max-w-screen-xs px-4">
    <img
      class="w-full object-cover shadow-md xs:rounded-md aspect-square"
      src={moj.src}
      height={moj.height}
      width={moj.width}
      alt="Maggan och Johan"
    />
    <section class="relative">
      <section id="main-content">
        <section class="flex items-center justify-center">
          <div class="my-500 mx-auto w-full">
            <article class="text-center mt-8" id="intro">
              <p class="flex items-center space-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>Klockan 15:00 den 2 september 2023</span>
              </p>
              <p class="mt-4 flex items-center space-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                </svg>                
                <a href="https://www.google.com/maps/dir//M친lsryds+kyrka,+Kyrkv칛gen+2,+516+77+M친lsryd/@57.6984581,13.0122148,13z/" class="text-base text-green-500 underline underline-offset-2">M친lsryds kyrka</a>
              </p>
            </article>

            <div class="grid grid-cols-2">
              <img src={leaves.src} alt="leaves frame" class="ml-20 w-16 transform rotate-90 scale-y-[-1]" />
              <img src={leaves.src} alt="leaves frame" class="ml-20 transform rotate-90 w-16" />
            </div>
            
            <div class="flex justify-center" id="historia">
              <img
                class="h-auto w-full max-w-screen-xs rounded-md object-cover shadow-md xs:rounded-md"
                src={kyrka.src}
                alt="M친lsryds kyrka"
              />
            </div>

            <article class="my-8 w-full px-4">
              <h2 class="text-center font-display text-5xl font-bold">
                Vigsel i M친lsryds kyrka
              </h2>
              <p class="mt-4 flex items-center space-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>                          
                <span>Klockan 15:00 den 2 september 2023</span>
              </p>
              <p class="mt-4 flex items-center space-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                </svg>                
                <a href="https://www.google.com/maps/dir//M친lsryds+kyrka,+Kyrkv칛gen+2,+516+77+M친lsryd/@57.6984581,13.0122148,13z/" class="text-base text-green-500 underline underline-offset-2">V칛gbeskrivning</a>
              </p>
              <p class="mt-4">
                Valfri kl칛dsel. OSA till <a class="text-green-500 underline underline-offset-2" href="tel:0702992689">Maggan</a> eller <a class="text-green-500 underline underline-offset-2" href="tel:0707565307">Johan</a> senast den 20 augusti. H칬r av dig om du vill sam친ka fr친n t.ex. Bor친s centralstation (buss och t친g).
              </p>
            </article>

            <div class="grid grid-cols-2">
              <img src={leaves.src} alt="leaves frame" class="ml-20 w-16 transform rotate-90 scale-y-[-1]" />
              <img src={leaves.src} alt="leaves frame" class="ml-20 transform rotate-90 w-16" />
            </div>

            <article class="grid grid-cols-2 gap-2 px-4">
              <h2 class="text-center font-display text-5xl font-bold col-span-2">
                Fest i Dannike
              </h2>
              <img
                class="h-auto max-h-[500px] min-h-[15rem] w-full max-w-[300px] items-center rounded-r-md object-cover shadow-md xs:rounded-md"
                src={dannike.src}
                alt="Dannike f칬rsamlingshem"
              />
              <div class="pr-4">
                <p class="mt-4 flex items-center space-x-2 px-4">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                  </svg>
                  <a href="https://www.google.com/maps/dir//L칛nghemsv칛gen+30,+516+94+Dannike/@57.6905274,13.1754194,13z" class="text-base text-green-500 underline underline-offset-2">V칛gbeskrivning</a>
                </p>
                <p class="pl-5 pt-4">Brudparet 칬nskar buff칠bord med knytis.</p>

                <p class="mt-4 flex items-center space-x-2 px-4">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
                  </svg>
                  <a href="#barn" class="text-base block text-green-500 underline underline-offset-2">Barnv칛nligt!</a>
                </p>
              </div>

              <div class="col-span-2">
                <p class="mt-4">Till buff칠bordet v칛ljer du sj칛lv vad du vill bidra med. Mingel, snittar, paj eller efterr칛tt. Helst v칛xtbaserat och utan n칬tter.</p>
                <p class="mt-4">G칛rna spex och musik samt m친nga och korta tal!</p>
                <p class="mt-4">Ta med r칬st och instrument f칬r spontant jammande.</p>
                <p class="mt-4">Vi avst친r g칛rna br칬llopspresenter. D칛remot ett stort ja till pengag친va till br칬llopsresan.</p>
              </div>
            </article>

            <div class="grid grid-cols-2">
              <img src={leaves.src} alt="leaves frame" class="ml-20 w-16 transform rotate-90 scale-y-[-1]" />
              <img src={leaves.src} alt="leaves frame" class="ml-20 transform rotate-90 w-16" />
            </div>

            <article class="grid grid-cols-2 gap-1 px-4" id="barn">
              <h2 class="text-center font-display text-5xl font-bold col-span-2">Barnv칛nligt</h2>

              <p class="mt-4 pb-2 col-span-2">P친 nedre plan har barnen en hel v친ning f칬r lek och bus:</p>

              <img src={barn1.src} class="shadow-lg rounded-md" alt="Barnv칛nligt, bild fr친n Dannike f칬rsamlingshem">
              <img src={barn2.src} class="shadow-lg rounded-md" alt="Barnv칛nligt, bild fr친n Dannike f칬rsamlingshem">
              <img src={barn3.src} class="shadow-lg rounded-md" alt="Barnv칛nligt, bild fr친n Dannike f칬rsamlingshem">
              <img src={barn4.src} class="shadow-lg rounded-md" alt="Barnv칛nligt, bild fr친n Dannike f칬rsamlingshem">
            </article>

            <div class="grid grid-cols-2">
              <img src={leaves.src} alt="leaves frame" class="ml-20 w-16 transform rotate-90 scale-y-[-1]" />
              <img src={leaves.src} alt="leaves frame" class="ml-20 transform rotate-90 w-16" />
            </div>

            <article class="pb-16 px-4">
              <h2 class="text-center font-display text-5xl font-bold">Tips</h2>

              <h3 class="mt-8 mb-2 font-bold text-xl">F칬rslag p친 boende: </h3>
              
              <div class="grid gap-2">
                <p><a href="https://goo.gl/maps/XD4bzdTC5nMj4vy76" class="text-green-500 underline underline-offset-2">Bed & Breakfast i Dalsj칬f칬rs</a></p>
                <p><a href="https://borascamping.se" class="text-green-500 underline underline-offset-2">Bor친s Camping</a></p>
              </div>

              <h3 class="mt-8 mb-2 font-bold text-xl">Att se och g칬ra</h3>

              <div class="grid gap-2">
                <p><a href="https://www.borasdjurpark.se" class="text-green-500 underline underline-offset-2">Bor친s Djurpark</a></p>
                <p><a href="https://www.abecitakonst.se/" class="text-green-500 underline underline-offset-2">Abecita Popkonst och Foto</a></p>
                <p><a href="https://www.svenskakyrkan.se/filer/568294/KyrkBladet%20nr%202-2023.pdf" class="text-green-500 underline underline-offset-2">Filling station den 5/9 i G친nghester kyrka (sid. 7)</a>. 츿ven den 31/8 i G칬teborg. Kontakta <a class="text-green-500 underline underline-offset-2" href="tel:0702992689">Maggan</a> f칬r mer info.</p>
              </div>
            </article>

            <p class="px-4 pt-8 pb-3 font-bold">Oj! Maggan h칛lsar att frisyren ska fixas till br칬llopet! 游땔</p>

            <img src={bus.src} class="rounded-md" alt="Maggan och Johan" />

            <p class="pt-8 font-display text-3xl text-center font-bold">V칛lkommen!</p>

            <div class="grid grid-cols-2">
              <img src={leaves.src} alt="leaves frame" class="ml-20 w-16 transform rotate-90 scale-y-[-1]" />
              <img src={leaves.src} alt="leaves frame" class="ml-20 transform rotate-90 w-16" />
            </div>

          </div>
        </section>
      </section>
    </section>
  </main>
</ILayout>
