---
import Layout from '../layouts/Layout.astro'
import { SITE_NAME } from '../constants'

import herbs from '../assets/herbs.jpg'
import boxWithGoodies from '../assets/box-med-bakat.jpg'
import magganAndMaria from '../assets/maggan-maria.jpg'
---

<Layout>
  <header class="py-8 text-center">
    <span class="text-sm font-light tracking-widest">Välkommen till</span>
    <!-- breakpoints (media queries)
		apply base class for smallest screens
		then apply other classes for larger breakpoints

		https://tailwindcss.com/docs/responsive-design
	 -->
    <h1 class="pt-4 font-display text-4xl font-bold">{SITE_NAME}</h1>
  </header>

  <main class="xs:px-4 mx-auto w-full max-w-screen-md">
    <!-- TODO: kontakt i header och i footer -->
    <!-- box med allerths bageri sektion i mitten -->
    <!-- Call to action längst upp och längst ner -->
    <img
      class="xs:rounded-md w-full object-cover shadow-md"
      src={herbs.src}
      height={herbs.height}
      width={herbs.width}
      alt="Örter"
    />
    <section class="relative">
      <!--px-4  -->
      <section id="main-content">
        <section class="flex items-center justify-center">
          <div class="my-500 mx-auto w-full">
            <span class="flex justify-center">
              <hr class="my-8 w-7 text-center text-gray-700" />
            </span>
            <article class="text-center" id="intro">
              <p>Örter, bakverk och musik</p>
              <p>Ogräs för någon - guld för andra</p>
              <p>Gör ditt ogräs till en guldgruva</p>
            </article>
            <span class="flex justify-center">
              <hr class="my-8 w-7 text-center text-gray-700" />
            </span>

            <section class="mb-8 flex flex-col gap-5">
              <a
                href="#event"
                class="px-6 py-2 text-center text-4xl font-display text-green-500"
                >Hoppa till <span class="whitespace-nowrap">kommande event</span
                ></a
              >
              <p class="text-center text-2xl text-gray-200">♫</p>
              <a
                href="mailto:maggan@allerthsbageri.se"
                class="text-center text-lg underline underline-offset-2"
                >maggan@allerthsbageri.se</a
              >
            </section>

            <!--
                #underline för hoppa till kommande event
                underline decoration-gray-200 underline-offset-2
                style="text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); text-decoration-thickness: 0.001em;" -->

            <div class="mx-4">
              <img
                class="xs:rounded-md w-full rounded-md object-cover shadow-md"
                src={boxWithGoodies.src}
                height={boxWithGoodies.height}
                width={boxWithGoodies.width}
                alt="Örter"
              />
            </div>

            <article class="my-8 w-full px-4" id="historia">
              <h2 class="text-center font-display text-3xl font-bold">
                Historia
              </h2>
              <p class="mt-4">
                Min mormor och morfar, Sven och <span class="whitespace-nowrap"
                  >Maj-Britt</span
                > Allerth hade ett fantastiskt väldoftande och välfyllt bageri som
                skapade minnen för livet. Det var fyllt med generationer av kunskap
                och engagemang.
              </p>
              <p class="mt-4">
                Så nu kommer morfars brödlådor med telefonnummer 14 komma till
                användning igen. Med glädje och kärlek har Allerths bageri åter
                startat, det ska fyllas med örter och bakverk från naturen,
                kombinerat med musik i olika former.
              </p>
            </article>

            <article class="grid grid-cols-2 gap-2">
              <div class="object-cover" id="image-container">
                <img
                  class="h-auto max-h-[500px] min-h-[15rem] w-full max-w-[300px] items-center rounded-r-md object-cover shadow-md"
                  src="src/assets/herb-bowl-portrait2.jpg"
                  alt="your image"
                />
              </div>
              <div class="mt-4 pr-4">
                <h2 class="text-center font-display text-3xl font-bold">
                  Örter & bakverk
                </h2>
                <p class="mt-4 text-center">
                  I naturen finns mängder av läkeörter som förbättra vår hälsa
                  på ett hållbart sätt.
                </p>
              </div>
              <p class="2xs:hidden col-span-2 px-4 pt-8">
                Ta vara på det som naturen ger både som mat och stödjande för
                vissa symptom. Något annat som främjar din hälsa är också
                <a href="#evenemang">körsång</a>.
              </p>
            </article>

            <span class="flex justify-center">
              <hr class="my-12 w-7 text-center text-gray-700" />
            </span>

            <div class="my-4" id="event">
              <img
                class="xs:rounded-md w-full object-cover shadow-md"
                src={magganAndMaria.src}
                height={magganAndMaria.height}
                width={magganAndMaria.width}
                alt="Örter"
              />
            </div>

            <article class="my-4 w-full px-4">
              <section>
                <h4 class="font-display text-2xl">Kommande event:</h4>
                <h2 class="mb-4 text-center font-display text-4xl font-bold">
                  Örtvandring med <span class="whitespace-nowrap"
                    >Maggan & Maria</span
                  >
                </h2>
                <p class="text-center">
                  Kom med och lär dej om våra vanligaste örter/läkeväxter. Hur
                  bereds de? Hur använder du dem på bästa sätt i din matlagning
                  eller som läkeväxt.
                </p>
                <div
                  class="mx-12 my-4 flex justify-center object-cover"
                  id="image-container"
                >
                  <img
                    class="items-center rounded-md object-cover shadow-md"
                    src="src/assets/maria-blender.jpg"
                    alt="your image"
                  />
                </div>
                <p class="text-center">
                  Nästa vandring är den 17/5 kl 17.30. Vi möts vid Elljusspåret
                  i Nitta/Gingri bygdegård. Kläder efter väder och sittunderlag
                  medtages. Ni bjuds på örtte och kaka efteråt.
                </p>
                <p class="my-2 text-center">Pris 350kr. Betalas på plats.</p>
                <p class="text-center">
                  Anmälan till <a
                    href="mailto:maggan@allerthsbageri.se"
                    class="underline underline-offset-2"
                    >maggan@allerthsbageri.se</a
                  >
                </p>
                <p class="my-2 text-center">Välkommen!</p>
              </section>

              <span class="flex justify-center">
                <hr class="my-12 w-7 text-center text-gray-700" />
              </span>

              <section>
                <h2 class="mb-4 text-center font-display text-4xl font-bold">
                  Övrigt smått & gott
                </h2>
                <ul class="list-inside list-disc">
                  <li class="mb-2">
                    Jag börjar nu leverera nyplockade örter till <a
                      href="https://www.instagram.com/sasongsbagarn/"
                      target="_blank"
                      class="text-green-500">@sasongsbagarn</a
                    > i Dalsjöfors.
                  </li>
                  <p>Köp hennes goda bröd, bullar med mera.</p>
                  <li class="my-2">Örter och bröd till ett café</li>
                  <li class="my-2">
                    Kören FREKVENS träffas varannan måndag kl 18.00-19.30.
                    Kontakta Maggan för mer information.
                  </li>
                </ul>
              </section>
            </article>

            <div class="bg-red-400">
              Bilden på mej+saxofon sedan följande text Maggan Allerth heter jag
              och är utbildad musiklärare, kyrkomusiker och örtpedagog. Älskar
              körmusik och örter. Glädjen över att få människor att må bra via
              musik och/eller läkeväxter är min drivkraft.
            </div>

            <div class="bg-emerald-400">
              FRISKVÅRDSKÖR Körsång på recept borde många ordineras. Att jobba
              med andning och rörelse främjar hela din kropps energisystem. Du
              mår bra när endorfiner släpps lös genom körsång. Du träffar andra
              likasinnade.
            </div>

            <div class="bg-blue-400">
              KONTAKT information <a
                href="mailto:maggan@allerthsbageri.se"
                class="text-center underline underline-offset-2"
                >maggan@allerthsbageri.se</a
              >
            </div>

            <!-- <article class="grid">
              <div class="w-3/5 object-cover" id="image-container">
                <img
                  class="h-auto max-h-[500px] min-h-[300px] w-full max-w-[300px] items-center rounded-md object-cover"
                  src="src/assets/sax.jpeg"
                  alt="your image"
                />
              </div>
            </article> -->
          </div>
        </section>
      </section>
    </section>
  </main>
</Layout>
