---
import { Image } from 'astro:assets'

import Layout from '../layouts/Layout.astro'
import { SITE_NAME } from '../constants'

import plantWall from '../assets/plant-wall.jpg'
import boxWithGoodies from '../assets/box-med-bakat.jpg'
import magganAndMaria from '../assets/maggan-maria.jpg'
import herbBowl from '../assets/herb-bowl-portrait2.jpg'
import vitsippor from '../assets/vitsippor-vandring.jpg'
import mariaBlender from '../assets/maria-blender.jpg'
import fika from '../assets/fika.jpg'
import sax from '../assets/sax.jpg'
---

<Layout>
  <header class="py-8 text-center">
    <span class="text-sm font-light tracking-widest">Välkommen till</span>
    <h1 class="pt-4 font-display text-4xl font-bold">{SITE_NAME}</h1>
  </header>

  <main class="mx-auto w-full max-w-screen-md xs:px-4">
    <Image
      class="w-full object-cover shadow-md xs:rounded-md"
      src={plantWall}
      loading="eager"
      alt="Vägg med lite växter och en bok."
    />
    <section class="relative">
      <section id="main-content">
        <section class="flex items-center justify-center">
          <div class="my-500 mx-auto w-full">
            <span class="flex justify-center">
              <hr class="my-8 w-7 text-center text-gray-700" />
            </span>
            <article class="text-center" id="intro">
              <p>Örter, bakverk och musik</p>
              <p>Ogräs för någon - guld för andra</p>
              <p>Gör ditt ogräs till en guldgruva</p>
            </article>
            <span class="flex justify-center">
              <hr class="my-8 w-7 text-center text-gray-700" />
            </span>

            <section class="mb-8 flex flex-col gap-5">
              <a
                href="#event"
                class="px-6 py-2 text-center font-display text-4xl text-green-500 underline hover:underline underline-offset-2 focus:text-green-500 focus:underline"
                >Se <span class="whitespace-nowrap">kommande event</span></a
              >
              <p class="text-center text-2xl text-gray-200">♫</p>
              <a
                href="mailto:maggan@allerthsbageri.se"
                class="text-center text-base hover:text-green-500 hover:underline underline-offset-2 focus:text-green-500 focus:underline"
                >maggan@allerthsbageri.se</a
              >
            </section>

            <div class="mx-4 flex justify-center" id="historia">
              <Image
                class="h-auto w-full max-w-[400px] rounded-md object-cover shadow-md xs:rounded-md"
                src={boxWithGoodies}
                loading="eager"
                alt="Låda med bakverk, örter och växter."
              />
            </div>

            <article class="my-8 w-full px-4">
              <h3 class="text-center font-display text-3xl font-bold">
                Historia
              </h3>
              <p class="mt-4">
                Min mormor och morfar, Sven och <span class="whitespace-nowrap"
                  >Maj-Britt</span
                > Allerth hade ett fantastiskt väldoftande och välfyllt bageri som
                skapade minnen för livet. Det var fyllt med generationer av kunskap
                och engagemang.
              </p>
              <p class="mt-4">
                Nu kommer morfars brödlådor med telefonnummer 14 till användning
                igen. Med glädje och kärlek har Allerths bageri åter startat,
                det ska fyllas med örter och bakverk från naturen, kombinerat
                med musik i olika former.
              </p>
            </article>

            <article class="grid grid-cols-2 gap-2 xs:px-4">
              <Image
                class="h-auto max-h-[500px] min-h-[15rem] w-full max-w-[300px] items-center rounded-r-md object-cover shadow-md xs:rounded-md"
                src={herbBowl}
                alt="Bunke med örter."
              />
              <div class="mt-4 pr-4">
                <h3 class="text-center font-display text-3xl font-bold">
                  Örter & bakverk
                </h3>
                <p class="mt-4 px-4 text-center">
                  I naturen finns mängder av läkeörter som förbättrar vår hälsa
                  på ett hållbart sätt.
                </p>
                <p class="col-span-2 hidden px-4 pt-8 xs:block xs:text-center">
                  Ta vara på det naturen ger, både som mat och stödjande för
                  vissa symptom. Något annat som främjar din hälsa är också
                  <a
                    href="#friskvård"
                    class="underline underline-offset-2 hover:text-green-500 focus:text-green-500"
                    >körsång.</a
                  >
                </p>
              </div>
              <p class="col-span-2 px-4 pt-8 xs:hidden">
                Ta vara på det naturen ger, både som mat och stödjande för vissa
                symptom. Något annat som främjar din hälsa är också
                <a
                  href="#friskvård"
                  class="underline underline-offset-2 hover:text-green-500 focus:text-green-500"
                  >körsång.</a
                >
              </p>
            </article>

            <span class="flex justify-center">
              <hr class="my-12 w-7 text-center text-gray-700" />
            </span>

            <div class="mx-4 flex justify-center" id="event">
              <Image
                class="h-auto w-full max-w-[600px] object-cover shadow-md xs:rounded-md"
                src={magganAndMaria}
                alt="Maggan och Maria på en sommardag."
              />
            </div>

            <article class="my-4 w-full px-4 pt-4">
              <section>
                <h4 class="mb-4 text-center font-display text-2xl">
                  Kommande event:
                </h4>
                <h2 class="mb-4 text-center font-display text-4xl font-bold">
                  Örtvandring med <span class="whitespace-nowrap"
                    >Maggan & Maria</span
                  >
                </h2>
                <div class="flex justify-center text-center">
                  <p class="max-w-md">
                    Kom med och lär dej om våra vanligaste örter/läkeväxter. Hur
                    bereds de? Hur använder du dem på bästa sätt i din
                    matlagning eller som läkeväxt.
                  </p>
                </div>

                <div class="my-4">
                  <div class="flex justify-center">
                    <Image
                      class="w-1/2 max-w-[250px] items-center rounded-l-md object-cover shadow-md"
                      src={mariaBlender}
                      alt="Maria mixar ört-smoothie."
                    />
                    <Image
                      class="w-1/2 max-w-[250px] items-center rounded-r-md object-cover shadow-md"
                      src={vitsippor}
                      alt="Vandring bland vitsippor."
                    />
                  </div>
                </div>
                <div class="flex justify-center text-center">
                  <p class="max-w-md">
                    Nästa örtvandring är den 3 juni kl 17.30. Samling vid
                    parkeringen bakom hembygdsgården i Algutstorp, Rångedala.
                    Kläder efter väder och sittunderlag medtages. Ni bjuds på
                    örtte och hembakat bröd fyllt med örter och ost.
                  </p>
                </div>
                <p class="my-2 text-center">Pris 350kr. Betalas på plats.</p>
                <p class="text-center">Anmälan sker till</p>
                <section class="flex justify-center gap-2 text-center">
                  <p>Maggan:</p>
                  <a
                    href="mailto:maggan@allerthsbageri.se"
                    class="hover:text-green-500 hover:underline underline-offset-2 focus:text-green-500 focus:underline"
                    >maggan@allerthsbageri.se</a
                  >
                </section>
                <section class="flex justify-center gap-2 text-center">
                  <p>Maria:</p>
                  <a
                    href="mailto:halsorum@gmail.com"
                    class="hover:text-green-500 hover:underline underline-offset-2 focus:text-green-500 focus:underline"
                    >halsorum@gmail.com</a
                  >
                </section>
                <p class="my-2 text-center text-lg">Välkommen!</p>

                <div class="my-4 flex justify-center">
                  <Image
                    class="h-auto w-full max-w-[600px] object-cover shadow-md xs:rounded-md"
                    src={fika}
                    alt="Fika och smoothie-provning på ett event."
                  />
                </div>
              </section>

              <span class="flex justify-center">
                <hr class="my-12 w-7 text-center text-gray-700" />
              </span>

              <section>
                <h3 class="mb-4 text-center font-display text-3xl font-bold">
                  Övrigt smått & gott
                </h3>
                <ul class="list-inside list-disc space-y-2">
                  <li>
                    Jag levererar nyplockade örter till <a
                      href="https://www.sasongsbagarn.se/"
                      target="_blank"
                      class="text-green-500 hover:text-green-500 hover:underline underline-offset-2 focus:underline"
                      >@sasongsbagarn</a
                    > i Dalsjöfors. Köp hennes goda bröd, bullar med mera.
                  </li>
                  <li>
                    Levererar örter och bröd till Grovare Evenemang & café,
                    Marie Arturéns härliga och mysiga café i Grovare.
                  </li>
                  <li>
                    Levererar surdegsbröd till Ådalens café & mat i Nitta.
                  </li>
                  <li>
                    Kören FREKVENS träffas varannan måndag kl 18.00-19.30. <a
                      href="#frekvens"
                      class="text-green-500 hover:text-green-500 hover:underline underline-offset-2 focus:underline"
                      ><span class="whitespace-nowrap">Läs mer</span></a
                    >
                  </li>
                </ul>
              </section>
            </article>

            <span class="flex justify-center">
              <hr class="my-8 w-7 text-center text-gray-700" />
            </span>

            <article class="my-4" id="om-mig">
              <h3 class="mb-4 text-center font-display text-3xl font-bold">
                Om mig
              </h3>
              <div class="my-4 flex justify-center 1xs:px-4">
                <Image
                  class="h-auto max-h-[500px] w-auto object-cover shadow-md 1xs:rounded-md"
                  src={sax}
                  alt="Maggan spelar saxofon i trädgården."
                />
              </div>
              <div class="flex justify-center">
                <p class="max-w-md p-4 text-center" id="friskvård">
                  Maggan Allerth heter jag och är utbildad musiklärare,
                  kyrkomusiker och örtpedagog. Älskar körmusik och örter.
                  Glädjen över att få människor att må bra via musik och/eller
                  läkeväxter är min drivkraft.
                </p>
              </div>
            </article>

            <article class="my-4" id="frekvens">
              <h3 class="mb-4 text-center font-display text-3xl font-bold">
                Friskvårdskör
              </h3>
              <div class="flex justify-center">
                <p class="max-w-md px-4 text-center">
                  Körsång på recept borde många ordineras. När du jobbar med
                  andning och rörelse främjar det hela din kropps energisystem.
                  Du mår bra när endorfiner släpps lös genom körsång. I kören
                  FREKVENS träffar du andra likasinnade.
                </p>
              </div>
              <div class="flex justify-center">
                <p class="max-w-md px-4 py-2 text-center">
                  Kören FREKVENS träffas varannan måndag kl 18.00-19.30.
                </p>
              </div>
              <div class="flex justify-center">
                <p class="max-w-md px-4 py-2 text-center">
                  Kontakta Maggan för mer information. <a
                    href="mailto:maggan@allerthsbageri.se"
                    class="text-center hover:text-green-500 hover:underline underline-offset-2 focus:text-green-500 focus:underline"
                    >maggan@allerthsbageri.se</a
                  >
                </p>
              </div>
            </article>
          </div>
        </section>
      </section>
    </section>
  </main>

  <hr class="border-gray-400" />

  <footer class="px-4 py-8">
    <div class="mx-auto flex max-w-screen-lg flex-wrap justify-between">
      <div class="mb-8 w-full text-center sm:mb-0 sm:w-1/2 md:w-1/4 lg:w-1/5">
        <h3 class="mb-4 text-lg font-bold text-green-500">Sidolänkar</h3>
        <ul class="mb-4 list-none">
          <li class="mb-2">
            <a
              href="#"
              class="hover:text-green-500 hover:underline underline-offset-2 focus:text-green-500 focus:underline"
              >Upp till toppen</a
            >
          </li>
          <li class="mb-2">
            <a
              href="#historia"
              class="hover:text-green-500 hover:underline underline-offset-2 focus:text-green-500 focus:underline"
              >Historia</a
            >
          </li>
          <li class="mb-2">
            <a
              href="#event"
              class="hover:text-green-500 hover:underline underline-offset-2 focus:text-green-500 focus:underline"
              >Kommande event</a
            >
          </li>
        </ul>
      </div>
      <div class="mb-8 w-full text-center sm:mb-0 sm:w-1/2 md:w-1/4 lg:w-1/5">
        <h3 class="mb-4 text-lg font-bold text-green-500">
          Följ mig på Instagram
        </h3>
        <ul class="mb-4 list-none">
          <li>
            <Image
              src={boxWithGoodies}
              alt="Instagram profilbild på låda med bakverk, örter och växter."
              class="mr-2 inline-block h-8 w-8 rounded-full object-cover shadow-md"
            />
            <a
              href="https://www.instagram.com/allerthsbageri/"
              class="inline-block font-medium hover:text-green-500 hover:underline underline-offset-2 focus:text-green-500 focus:underline"
            >
              @allerthsbageri
            </a>
          </li>
        </ul>
      </div>
      <div class="mb-8 w-full text-center sm:mb-0 md:w-1/4 lg:w-1/5">
        <h3 class="mb-4 text-lg font-bold text-green-500">Kontakta mig</h3>
        <a
          href="mailto:maggan@allerthsbageri.se"
          class="inline-block font-medium hover:text-green-500 hover:underline underline-offset-2 focus:text-green-500 focus:underline"
          >maggan@allerthsbageri.se</a
        >
      </div>
    </div>
    <div
      class="mx-auto mt-8 max-w-screen-lg border-t border-gray-700 pt-4 text-center"
    >
      <p>&copy; 2023 Maggan Allerth</p>
    </div>
  </footer>
</Layout>
