---
import { Image } from 'astro:assets'

import EncryptedEmail from '../components/EncryptedEmail.svelte'
import { SITE_NAME } from '../constants'
import Layout from '../layouts/Layout.astro'

import kursinbjudan from '../assets/inbjudan-surdegskurs.png'
import allerthsBageriLogo from '../assets/allerths-bageri-logo.jpeg'
import boxWithGoodies from '../assets/box-med-bakat.jpg'
import breadMarketPlace from '../assets/brod-i-lada.jpeg'
import fika from '../assets/fika.jpg'
import kakaobrod from '../assets/kakaobrod.jpg'
import kladdkakekakor from '../assets/kladdkakekakor.jpg'
import fifthHantverksbrod from '../assets/hantverksbrod5.jpeg'
import sixthHantverksbrod from '../assets/hantverksbrod6.jpg'
import herbBowl from '../assets/herb-bowl-portrait2.jpg'
import mariaBlender from '../assets/maria-blender.jpg'
import pumpabrod from '../assets/pumpabrod.jpeg'
import sax from '../assets/sax.jpg'
import vitsippor from '../assets/vitsippor-vandring.jpg'

const bakingCourseDate = new Date('2025-07-06').toLocaleString('sv-SE', {
  dateStyle: 'full',
})
---

<Layout>
  <header class="py-8 text-center">
    <span class="text-sm font-light tracking-widest">Välkommen till</span>
    <div class="flex w-full items-center justify-center gap-4">
      <Image
        src={allerthsBageriLogo}
        alt="Profilbild"
        class="h-auto w-20 rounded-full object-cover shadow-md"
      />
      <h1 class="inline-flex pt-4 font-display text-4xl font-bold sm:text-6xl">
        {SITE_NAME}
      </h1>
    </div>
  </header>

  <main class="mx-auto w-full max-w-screen-md xs:px-4">
    <Image
      class="max-h-[400px] w-full object-cover shadow-md sm:rounded-md"
      src={breadMarketPlace}
      loading="eager"
      alt="Surdegsbröd från Allerths Bageri"
    />
    <section class="relative">
      <section id="main-content">
        <section class="flex items-center justify-center">
          <div class="mx-auto w-full">
            <span class="flex justify-center">
              <hr class="my-8 w-7 text-center text-gray-200" />
            </span>
            <div class="mx-auto max-w-sm text-balance text-center" id="intro">
              <p class="font-display text-3xl font-bold">Hantverksbröd</p>
              <p class="pt-4">
                Jag bakar med färskmalen ekologisk kultursäd - exempelvis emmer
                eller purpurvete. Emmer började odlas för 8000 år sedan och är
                en korsning mellan enkorn och vildgräs.
              </p>
            </div>
            <span class="flex justify-center">
              <hr class="my-8 w-7 text-center text-gray-200" />
            </span>

            <section class="mb-8 flex flex-col gap-5">
              <a
                href="#event"
                class="px-6 py-2 text-center font-display text-4xl text-green-500 underline underline-offset-2 hover:underline focus:text-green-500 focus:underline"
                >Se <span class="whitespace-nowrap">kommande event</span></a
              >
              <p class="text-center text-2xl text-gray-200">♫</p>
              <EncryptedEmail client:load />
              <ul class="flex justify-center">
                <li>
                  <Image
                    src={allerthsBageriLogo}
                    alt="Profilbild"
                    class="mr-2 inline-block h-8 w-8 rounded-full object-cover shadow-md"
                  />
                  <a
                    href="https://www.instagram.com/allerthsbageri/"
                    class="inline-block font-medium underline-offset-2 hover:text-green-500 hover:underline focus:text-green-500 focus:underline"
                  >
                    @allerthsbageri
                  </a>
                </li>
              </ul>
            </section>

            <div class="mx-4 flex justify-center" id="historia">
              <Image
                class="h-auto w-full max-w-[400px] rounded-md object-cover shadow-md xs:rounded-md"
                src={boxWithGoodies}
                loading="eager"
                alt="Låda med bakverk, örter och växter."
              />
            </div>

            <article class="my-8 w-full px-4">
              <h3 class="text-center font-display text-3xl font-bold">
                Historia
              </h3>
              <p class="mt-4">
                Min mormor och morfar, Sven och <span class="whitespace-nowrap"
                  >Maj-Britt</span
                > Allerth hade ett fantastiskt väldoftande och välfyllt bageri som
                skapade minnen för livet. Det var fyllt med generationer av kunskap
                och engagemang.
              </p>
              <p class="mt-4">
                Nu kommer morfars brödlådor med telefonnummer 14 till användning
                igen. Med glädje och kärlek har Allerths bageri åter startat,
                det ska fyllas med örter och bakverk från naturen, kombinerat
                med musik i olika former.
              </p>
            </article>

            <div class="gap my-8 grid columns-2 grid-cols-2 grid-rows-2 gap-2">
              <Image
                class="aspect-square h-auto w-full max-w-[700px] rounded-md object-cover shadow-md"
                src={allerthsBageriLogo}
                alt="Kulturbröd uppställt för försäljning"
              />
              <Image
                class="aspect-square h-auto w-full max-w-[700px] rounded-md object-cover shadow-md"
                src={sixthHantverksbrod}
                alt="Kulturbröd uppställt för försäljning"
              />
              <Image
                class="aspect-square h-auto w-full max-w-[700px] rounded-md object-cover shadow-md"
                src={pumpabrod}
                alt="Kulturbröd uppställt för försäljning"
              />
              <Image
                class="aspect-square h-auto w-full max-w-[700px] rounded-md object-cover shadow-md"
                src={breadMarketPlace}
                alt="Kulturbröd uppställt för försäljning"
              />
            </div>

            <article class="flex justify-center text-center">
              <p class="my-4">Hantverksbröd bakat på kultursäd.</p>
            </article>

            <article class="my-4 w-full px-4 pt-4">
              <div class="my-8 grid justify-center" id="event">
                <Image
                  class="h-auto w-full max-w-[500px] rounded-md object-cover shadow-md"
                  src={kursinbjudan}
                  alt="Inbjudan till kurs"
                />
              </div>

              <h4 class="mb-4 text-center font-display text-2xl">
                Kommande event:
              </h4>

              <section>
                <h2 class="mb-4 text-center font-display text-4xl font-bold">
                  Nu kan du anmäla dig till kurs i surdegsbakning
                </h2>
                <div class="flex justify-center">
                  <p class="my-2 max-w-screen-sm">
                    <span class="capitalize">{bakingCourseDate}</span> blir det kurs
                    i hur du bakar surdegsbröd på enbart ekologiskt och kravmärkt
                    mjöl. Vi lär oss mata surdegen, forma och snitta bröd. Sätta
                    en ny deg som du kan grädda hemma nästa dag.
                  </p>
                </div>

                <span class="flex justify-center">
                  <hr class="my-5 w-7 text-center text-gray-200" />
                </span>

                <div class="flex justify-center">
                  <p class="my-2 max-w-screen-sm">
                    Till lunch blir du bjuden på surdegspizza. I kursavgiften
                    ingår även kaffe/te, färskpressad juice, en snittkniv och en
                    skål att frakta brödet i. Om du vill får du även med en
                    liten surdegsstarter hem.
                  </p>
                </div>

                <div class="flex justify-center">
                  <p class="max-w-screen-sm justify-center">
                    Du behöver ta med två tunna kökshanddukar och ett förkläde.
                  </p>
                </div>

                <span class="flex justify-center">
                  <hr class="my-5 w-7 text-center text-gray-200" />
                </span>

                <div class="mx-auto max-w-screen-sm">
                  <p class="my-2">
                    <span class="font-bold">När:</span>
                    <span class="capitalize">{bakingCourseDate}</span> kl 10:00 -
                    ca 14:00 eller tills vi känner oss klara.
                  </p>
                  <p class="my-2">
                    <span class="font-bold">Kursavgift: </span>1200 kr, betalas
                    via Swish i samband med anmälan. Vid överenskommelse kontant
                    betalning på plats.
                  </p>
                  <p class="my-2">
                    <span class="font-bold">Var: </span>Meddelas senare
                  </p>
                  <p class="text-center font-bold">Anmälan & frågor:</p>
                  <div class="flex justify-center text-center">
                    <EncryptedEmail client:load />
                  </div>
                  <p class="my-2 text-center text-lg">Välkommen!</p>
                </div>

                <div class="mt-8 flex justify-center">
                  <Image
                    class="h-auto w-full max-w-[500px] rounded-md object-cover shadow-md"
                    src={fifthHantverksbrod}
                    alt="Kulturbröd uppställt för försäljning"
                  />
                </div>
              </section>

              <span class="flex justify-center">
                <hr class="my-12 w-7 text-center text-gray-200" />
              </span>

              <section>
                {
                  /*
                <h2 class="mb-4 text-center font-display text-4xl font-bold">
                  Nu kan du boka surdegsbröd och kladdkakekakor
                </h2>
                <div class="flex justify-center">
                  <p class="my-2 max-w-screen-sm">
                    Om du vill ha bröd den 25:e januari, boka <span
                      class="font-bold">senast den 23:e.</span
                    > Brödet på bilden är dekorerat med ekologiskt svart kakao.
                  </p>
                </div>

                <div class="mx-auto max-w-screen-sm">
                  <p class="text-center font-bold">
                    Boka via mail eller instagram:
                  </p>
                  <div class="flex justify-center text-center my-1">
                    <EncryptedEmail client:load />
                  </div>
                  <ul class="flex justify-center">
                    <li>
                      <Image
                        src={allerthsBageriLogo}
                        alt="Profilbild"
                        class="mr-2 inline-block h-8 w-8 rounded-full object-cover shadow-md"
                      />
                      <a
                        href="https://www.instagram.com/allerthsbageri/"
                        class="inline-block font-medium underline-offset-2 hover:text-green-500 hover:underline focus:text-green-500 focus:underline"
                      >
                        @allerthsbageri
                      </a>
                    </li>
                  </ul>
                </div>
                */
                }

                <div class="flex justify-center mt-8">
                  <Image
                    class="h-auto w-full max-w-[500px] rounded-md object-cover shadow-md"
                    src={kakaobrod}
                    alt="Surdegsbröd med kakao som dekoration för halloween."
                  />
                  <Image
                    class="aspect-square h-auto w-full max-w-[700px] rounded-md object-cover shadow-md"
                    src={kladdkakekakor}
                    alt="Kakor gjorda på kladdkaka"
                  />
                </div>

                <div class="flex justify-center"></div>
              </section>

              <span class="flex justify-center">
                <hr class="my-12 w-7 text-center text-gray-200" />
              </span>

              <section>
                <h2 class="mb-4 text-center font-display text-4xl font-bold">
                  Håll utkik efter nästa örtevent
                </h2>
                <div class="flex justify-center">
                  <p class="max-w-screen-sm">
                    Kom med och lär dej om våra vanligaste örter/läkeväxter. Hur
                    bereds de? Hur använder du dem på bästa sätt i din
                    matlagning eller som läkeväxt.
                  </p>
                </div>

                <div class="my-4">
                  <div class="flex justify-center">
                    <Image
                      class="w-1/2 max-w-[250px] items-center rounded-l-md object-cover shadow-md"
                      src={mariaBlender}
                      alt="Maria mixar ört-smoothie."
                    />
                    <Image
                      class="w-1/2 max-w-[250px] items-center rounded-r-md object-cover shadow-md"
                      src={vitsippor}
                      alt="Vandring bland vitsippor."
                    />
                  </div>
                </div>
                <div class="flex justify-center">
                  <p class="max-w-screen-sm">
                    Nya örtvandringar planeras framöver. Hembygdsgården i
                    Algutstorp, Rångedala. Kläder efter väder och sittunderlag
                    medtages. Ni bjuds på örtte och hembakat bröd fyllt med
                    örter och ost.
                  </p>
                </div>
                <p class="my-2 text-center">Pris 350kr. Betalas på plats.</p>
                <p class="text-center">Anmälan sker till</p>
                <section class="flex justify-center gap-2 text-center">
                  <p>Maggan:</p>
                  <EncryptedEmail client:load />
                </section>
                <section class="flex justify-center gap-2 text-center">
                  <p>Maria:</p>
                  <a
                    href="mailto:halsorum@gmail.com"
                    class="text-green-500 underline-offset-2 hover:text-green-500 hover:underline focus:text-green-500 focus:underline"
                    >halsorum@gmail.com</a
                  >
                </section>
                <p class="my-2 text-center text-lg">Välkommen!</p>

                <div class="my-4 flex justify-center">
                  <Image
                    class="h-auto w-full max-w-[600px] rounded-md object-cover shadow-md"
                    src={fika}
                    alt="Fika och smoothie-provning på ett event."
                  />
                </div>
              </section>

              <span class="flex justify-center">
                <hr class="my-12 w-7 text-gray-200" />
              </span>

              <section>
                <h3 class="mb-4 font-display text-3xl font-bold">
                  Övrigt smått & gott
                </h3>
                <ul class="list-inside list-disc space-y-2">
                  <li>
                    Vissa lördagar säljer jag mitt hantverksbröd direkt vid bageriet, för exakt info om försäljningen följ på instagram <a
                    href="https://www.instagram.com/allerthsbageri/"
                    target="_blank"
                    class="text-green-500 underline-offset-2 hover:text-green-500 hover:underline focus:underline"
                    >@allerthsbageri</a>. Ett surdegsbröd bakat på kultursäd, så som Emmer
                    och vetemjöl special. Du kan förhandsboka via <EncryptedEmail
                      client:load
                    />
                  </li>
                  <li>
                    Levererar örter och bröd till Grovare Event & kafé, Marie
                    Arturéns härliga och mysiga kafé i Grovare.
                  </li>
                  <li>
                    Jag levererar nyplockade örter till <a
                      href="https://www.sasongsbagarn.se/"
                      target="_blank"
                      class="text-green-500 underline-offset-2 hover:text-green-500 hover:underline focus:underline"
                      >@sasongsbagarn</a
                    > i Dalsjöfors. Köp hennes goda bröd, bullar med mera.
                  </li>
                  <li>
                    Kören FREKVENS träffas varannan måndag kl 18.00-19.30. <a
                      href="#frekvens"
                      class="text-green-500 underline-offset-2 hover:text-green-500 hover:underline focus:underline"
                      ><span class="whitespace-nowrap">Läs mer</span></a
                    >
                  </li>
                </ul>
              </section>
            </article>

            <span class="flex justify-center">
              <hr class="my-8 w-7 text-center text-gray-200" />
            </span>

            <article class="my-4" id="om-mig">
              <h3 class="mb-4 text-center font-display text-3xl font-bold">
                Om mig
              </h3>
              <div class="my-4 flex justify-center px-4">
                <Image
                  class="h-auto max-h-[500px] w-auto rounded-md object-cover shadow-md"
                  src={sax}
                  alt="Maggan spelar saxofon i trädgården."
                />
              </div>
              <div class="flex justify-center">
                <p class="max-w-screen-sm p-4" id="friskvård">
                  Maggan Allerth heter jag och är utbildad musiklärare,
                  kyrkomusiker och örtpedagog. Älskar surdegsbröd, örter och körmusik. Glädjen över att få människor att må bra via surdegsbröd, musik och läkeväxter är min drivkraft.
                </p>
              </div>
            </article>

            <article class="grid grid-cols-2 gap-2 xs:px-4">
              <Image
                class="h-auto max-h-[500px] min-h-[15rem] w-full max-w-[300px] items-center rounded-r-md object-cover shadow-md xs:rounded-md"
                src={herbBowl}
                alt="Bunke med örter."
              />
              <div class="mt-4 pr-4">
                <h3 class="text-center font-display text-3xl font-bold">
                  Örter & bakverk
                </h3>
                <p class="mt-4 px-4 text-center">
                  I naturen finns mängder av läkeörter som förbättrar vår hälsa
                  på ett hållbart sätt.
                </p>
                <p class="col-span-2 px-4 pt-8 xs:text-center">
                  Ta vara på det naturen ger, både som mat och stödjande för
                  vissa symptom. Något annat som främjar din hälsa är också
                  körsång.
                </p>
              </div>
            </article>

            <span class="flex justify-center">
              <hr class="my-12 w-7 text-center text-gray-200" />
            </span>

            <article class="mx-auto my-4 max-w-screen-sm" id="frekvens">
              <h3 class="mb-4 text-center font-display text-3xl font-bold">
                Friskvårdskör
              </h3>
              <p class="mx-auto px-4">
                Körsång på recept borde många ordineras. När du jobbar med
                andning och rörelse främjar det hela din kropps energisystem. Du
                mår bra när endorfiner släpps lös genom körsång. I kören
                FREKVENS träffar du andra likasinnade.
              </p>
              <p class="mx-auto px-4 py-2">
                Kören FREKVENS träffas varannan måndag kl 18.00-19.30.
              </p>
              <p class="mx-auto px-4 py-2">
                Kontakta Maggan för mer information.
                <EncryptedEmail client:load />
              </p>
            </article>
          </div>
        </section>
      </section>
    </section>
  </main>

  <hr class="border-gray-400" />

  <footer class="px-4 py-8">
    <div class="mx-auto flex max-w-screen-lg flex-wrap justify-between">
      <div class="mb-8 w-full text-center sm:mb-0 sm:w-1/2 md:w-1/4 lg:w-1/5">
        <h3 class="mb-4 text-lg font-bold">Sidolänkar</h3>
        <ul class="mb-4 list-none">
          <li class="mb-2">
            <a
              href="#"
              class="text-green-500 underline-offset-2 hover:underline focus:text-green-500 focus:underline"
              >Upp till toppen</a
            >
          </li>
          <li class="mb-2">
            <a
              href="#historia"
              class="text-green-500 underline-offset-2 hover:underline focus:text-green-500 focus:underline"
              >Historia</a
            >
          </li>
          <li class="mb-2">
            <a
              href="#event"
              class="text-green-500 underline-offset-2 hover:underline focus:text-green-500 focus:underline"
              >Kommande event</a
            >
          </li>
        </ul>
      </div>
      <div class="mb-8 w-full text-center sm:mb-0 sm:w-1/2 md:w-1/4 lg:w-1/5">
        <h3 class="mb-4 text-lg font-bold">Följ mig på Instagram</h3>
        <ul class="mb-4 list-none">
          <li>
            <Image
              src={allerthsBageriLogo}
              alt="Profilbild"
              class="mr-2 inline-block h-8 w-8 rounded-full object-cover shadow-md"
            />
            <a
              href="https://www.instagram.com/allerthsbageri/"
              class="inline-block font-medium text-green-500 underline-offset-2 hover:underline focus:underline"
            >
              @allerthsbageri
            </a>
          </li>
        </ul>
      </div>
      <div class="mb-8 w-full text-center sm:mb-0 md:w-1/4 lg:w-1/5">
        <h3 class="mb-4 text-lg font-bold">Kontakta mig</h3>
        <EncryptedEmail client:load />
      </div>
    </div>
    <div class="mx-auto mt-8 max-w-screen-lg pt-4 text-center">
      <p>
        © <span id="year">{new Date().getFullYear()}</span>
        {SITE_NAME}
      </p>
    </div>
  </footer>
</Layout>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const year = document.querySelector('#year')
    if (year) {
      year.textContent = new Date().getFullYear().toString()
    }
  })
</script>
